<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>439309188709-k5bviqnelhibvug5ann8dr46es45i1et.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.439309188709-k5bviqnelhibvug5ann8dr46es45i1et</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>439309188709-27c8c0nufajq6qrm92pigpd7g20t7nc4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBNC3b-CA2jHYhg4DXISOCKc4knPJPi6io</string>
	<key>GCM_SENDER_ID</key>
	<string>439309188709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.qalatt.ios-opdep</string>
	<key>PROJECT_ID</key>
	<string>opdep-5eb9f</string>
	<key>STORAGE_BUCKET</key>
	<string>opdep-5eb9f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:439309188709:ios:fba8a77e6a6c603293d08c</string>
</dict>
</plist>